# SQL for Beginners with BigQuery

## Table of contents <a class="anchor"  id="Index"></a>


* [Introduction](#i)
* [Summary table](#t)
* [Set up the environment - BigQuery](#s)
* [Queries](#t)
    * [1. SELECT, FROM](#1)
    * [2. WHERE](#2)
    * [3. SELECT DISTINCT](#3)
    * [4. AND, OR, NOT, IS NULL, IS NOT NULL](#4)
    * [5. MAX, MIN, AVG](#5)
    * [6. AS](#6)
    * [7. Top (ORDER BY...DESC + LIMIT)](#7)
    * [8. Bottom (ORDER BY...ASC + LIMIT)](#8)
    * [9. ORDER BY (ASC, DESC)](#9)
    * [10. CONCAT](#10)
    * [11. JOIN](#11)
    * [12. COUNT](#12)
    * [13. WHERE...LIKE](#13)
    * [14. LENGTH](#14)
    * [15. CAST](#15)
    * [16. Temporary table](#16)
    * [17. IN](#17)
    * [18. BETWEEN](#18)
    * [19. SUBSTR](#19)
    * [20. TRIM](#20)
    * [21. HAVING](#21)
    * [22. Subquery](#22)
        * [22.1 Subquery | WHERE](#221)
        * [22.2 Subquery | SELECT](#222)
    * [23. Implicit join](#23)
    * [24. UPPER, LOWER](#24)
    * [25. Date & Time](#25)
    * [26. CURRENT_DATE](#26)
* [More notebooks on SQL](#m)

# [**Introduction**](#Index)  <a class="anchor"  id="i"></a>

**Intro**

SQL for beginners that wish to became experts, like I do ;) Hopefully!

The purpose of this notebook is to demonstrate each SQL statement/function individually. At this point, no complexity should be expected in the examples used. The focus is on the syntax.

**Data** 
I will use open data imported from bigquery. If you want to explore the data before importing it, just follow these steps:

bigquery: SQL workspace > search > public datasets > search marketplace: san francisco select: san francisco ford gobike share > view dataset > search san francisco select san_francisco_bikeshare

Here you can check the tables of the dataset (DS). Select preview to the see all the columns. Select schema to see the data type of each field.

There might be a more direct way to get to this dataset. If so, please share it with me. Thanks!

**Sources of inspiration**

Kaggle learning courses 

Google data analytics certificate 

w3school

IBM data analyst certificate

# [**Summary table**](#Index)  <a class="anchor"  id="t"></a>

ID   |STATEMENT           |DESCRIPTION                                |NOTES                                            |
:----|:-------------------|:-------------------------------------------|:-------------------------------------------------------|
1    |SELECT              | fetches data from a database        |columns separated by commas; if we want all columns of the table, we add '*'|
1    |FROM                | identifies table or tables that contains columns mentioned in SELECT |
2    |WHERE               | filters; retrieves only the rows that meet a specified condition | single value, pattern (LIKE), list of possible values (IN), subquery, EXISTS |
3    |SELECT DISTINCT     | select only the different values in the column| no duplicates  |
4    |AND                 | and   |WHERE column1 = x AND column1 = y; WHERE column1 = x AND column2 = y|
4    |OR                  | or |  |
4    |NOT                 | not |WHERE NOT column1 = z  |
4    |IS NULL             | is null |WHERE column1 IN NULL |
4    |IS NOT NULL         | in not null |WHERE column1 IS NOT NULL |
5    |MAX, MIN            | returns the largest/smallest value of a numeric column| SELECT MAX(column1); Aggregate/Column function|
5    |AVG                 | returns the average or mean value|SELECT AVG(column1); Aggregate/Column function; The output will be one cell; Limitation of aggregate functions: if we want the output to show columns,rows and the aggregate value we need to create a sub-query. The aggregate value will be the same for each row.|
6    |AS                  | alias | SELECT AVG(column1) AS average_column1; allows to name the columns presented in the output|
7    |top                 | select top n values of a column |ORDER BY column1 DESC  LIMIT n|
8    |bottom              | select bottom n values of a column |ORDER BY column1 ASC  LIMIT n|
9    |ORDER BY            | sort |by default, sorts ascending; to sort descending, add DESC: ORDER BY column1 DESC; we can identify column name (column1) or column number (1); column number in the SELECT clause. Not in the original table |
10   |CONCAT              | concatenate multiple fields | CONCAT(column1, "- ", column2) AS column3  |
11   |JOIN                | fetches data from multiple tables |  |
12   |COUNT               | returns the number of rows that meet the specified criterion| COUNT(*), COUNT(1); counts the number of rows when the columns is not null |
13   |LIKE        | filter according to a pattern | WHERE column1 LIKE 'a%' - values that begin w/ a   |
14   |LENGTH              | filter data that satisfy specified length | WHERE LENGTH(column1) = n |
15   |CAST                | convert data type | SELECT CAST (column1_string AS float64) AS column1_decimal|
16   |temporary table     |temporary table         |WITH temporary_table AS (query1) SELECT...FROM temporary_table ...|
17   |IN                  |multiple OR conditions |WHERE column1 IN ('value1', 'value2')|
18   |BETWEEN             |filter strings between two given strings       | equivalent to >= x <=; closed interval; applies to numbers, dates, strings (example: between a AND f)
19   |SUBSTR              |filter to a part of the string - a substring| SUBSTR(USA,1,2) = US, SUBSTR(heart,3,3) = art|
20   |TRIM                |remove spaces from a string     | |
21   |HAVING              |Similar to WHERE but used with GROUP BY clause| WHERE - applies to the entire data; HAVING - applies to GROUP BY clause
22   |Subquery              |a query within another query | the purpose is to restrict the data that will be used in the main query; FROM, WHERE |
23   |Implicit Join             |fetches data from multiple tables using FROM clause | Implicit Inner Join - only matching values; Implicit Cross Join - number of rows from table 1 multiplied by number of rows from table 2...|
24   |UPPER, LOWER  |displays the column name in each table in uppercase/lowercase    | |
25   |Date & Time  |    |combined with EXTRACT; SELECT EXTRACT (date_part FROM column1); date_part = YEAR, MONTH, DAY, DAYOFWEEK, DAYOFYEAR, HOUR, MINUTE, SECOND, etc. |
26   |CURRENT_DATE  |    |can be subtracted from a specific date to get the difference |

# [**Set up the environment - BigQuery**](#Index)  <a class="anchor"  id="s"></a>

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
 #import, create object, reference DS, fetch DS, list of tables 
from google.cloud import bigquery
client = bigquery.Client()
dataset_ref = client.dataset("san_francisco_bikeshare", project = "bigquery-public-data")
dataset = client.get_dataset(dataset_ref)
tables = list(client.list_tables(dataset))
list_of_tables = [table.table_id for table in tables]
print(list_of_tables)

Using Kaggle's public dataset BigQuery integration.
['bikeshare_regions', 'bikeshare_station_info', 'bikeshare_station_status', 'bikeshare_trips']

In [3]:
table_ref = dataset_ref.table("bikeshare_regions")
table = client.get_table(table_ref)
client.list_rows(table, max_results = 10).to_dataframe()

   region_id           name
0          3  San Francisco
1          5       San Jose
2         12        Oakland
3         13     Emeryville
4         14       Berkeley
5         23             8D

In [4]:
table.schema

[SchemaField('region_id', 'INTEGER', 'REQUIRED', 'Unique identifier for the region', (), None),
 SchemaField('name', 'STRING', 'REQUIRED', 'Public name for this region', (), None)]

# [**Queries**](#Index)  <a class="anchor"  id="q"></a>

## [**1. SELECT, FROM**](#Index)  <a class="anchor"  id="1"></a>

SELECT allows us to get specific columns of a table.
FROM indicates the table that will be our source. 

SELECT*  - All columns are selected;

SELECT column1, column2,... - columns are separated by a comma.

In [5]:
query1 = """
         SELECT name
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions`
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query1_job = client.query(query1, job_config = safe_config)

query1_result = query1_job.to_dataframe()
query1_result.head()

            name
0  San Francisco
1       San Jose
2        Oakland
3     Emeryville
4       Berkeley


## [**2. WHERE**](#Index)  <a class="anchor"  id="2"></a>

WHERE - allows us to filter the data selected. 

SELECT column1, column2

FROM table1

WHERE columni = a

Note: The column used to filter in the WHERE clause does not need to one of columns in the SELECT clause.


For example,

SELECT day, month

FROM date_table

WHERE year = 2023

Next, we will explore table 'bikeshare_trips'.

For that, we will reference and fetch that table and get a preview to explore all the fields.

In [6]:
table_ref = dataset_ref.table("bikeshare_trips")
table = client.get_table(table_ref)
client.list_rows(table, max_results = 10).to_dataframe()

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,...,c_subscription_type,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,member_birth_year,member_gender,bike_share_for_all_trip,start_station_geom,end_station_geom
0,942190,1047,2015-09-23 08:44:00+00:00,Mezes,83,2015-09-23 09:02:00+00:00,Stanford in Redwood City,25,138,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,1066975,421,2016-01-21 09:20:00+00:00,Mezes,83,2016-01-21 09:27:00+00:00,Redwood City Caltrain Station,22,246,94010,...,Customer,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,979094,259,2015-10-21 08:21:00+00:00,Mezes,83,2015-10-21 08:26:00+00:00,Redwood City Caltrain Station,22,650,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,1122805,280,2016-03-14 07:36:00+00:00,Mezes,83,2016-03-14 07:40:00+00:00,Redwood City Caltrain Station,22,246,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,1147651,295,2016-04-04 08:19:00+00:00,Mezes,83,2016-04-04 08:24:00+00:00,Redwood City Caltrain Station,22,138,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,1135528,300,2016-03-24 08:22:00+00:00,Mezes,83,2016-03-24 08:27:00+00:00,Redwood City Caltrain Station,22,299,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
6,1130146,384,2016-03-18 20:35:00+00:00,Mezes,83,2016-03-18 20:41:00+00:00,Redwood City Caltrain Station,22,174,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
7,1031973,275,2015-12-08 07:32:00+00:00,Mezes,83,2015-12-08 07:36:00+00:00,Redwood City Caltrain Station,22,131,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
8,1106786,347,2016-02-26 08:14:00+00:00,Mezes,83,2016-02-26 08:20:00+00:00,Redwood City Caltrain Station,22,196,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
9,158480,930,2014-01-18 19:09:00+00:00,Japantown,9,2014-01-18 19:24:00+00:00,Japantown,9,177,94564,...,Customer,NaN,NaN,NaN,NaN,NaN,None,None,None,None

Our query will allow us to get a list of start and end stations but where the start station is all the same and defined by us.

In [7]:
query2 = """
         SELECT start_station_name, end_station_name
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE start_station_name = "San Mateo County Center"
         """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query2_job = client.query(query2, job_config = safe_config)

query2_result = query2_job.to_dataframe()
query2_result.head(20)

         start_station_name             end_station_name
0   San Mateo County Center                        Mezes
1   San Mateo County Center                   Mezes Park
2   San Mateo County Center                   Mezes Park
3   San Mateo County Center              Kaiser Hospital
4   San Mateo County Center             Broadway at Main
5   San Mateo County Center         Cowper at University
6   San Mateo County Center      San Mateo County Center
7   San Mateo County Center      San Mateo County Center
8   San Mateo County Center      San Mateo County Center
9   San Mateo County Center      San Mateo County Center
10  San Mateo County Center      San Mateo County Center
11  San Mateo County Center      San Mateo County Center
12  San Mateo County Center      San Mateo County Center
13  San Mateo County Center      San Mateo County Center
14  San Mateo County Center      San Mateo County Center
15  San Mateo County Center      San Mateo County Center
16  San Mateo County Center     Stanford in Redwood City
17  San Mateo County Center  Redwood City Medical Center
18  San Mateo County Center  Redwood City Medical Center
19  San Mateo County Center  Redwood City Public Library

## [**3. SELECT DISTINCT**](#Index)  <a class="anchor"  id="3"></a>

SELECT DISTINCT - we add distinct to get only the different values of the column selected

In the example, we use DISTINCT to get all the end station without repeated values.

In [8]:
query3 = """
         SELECT DISTINCT start_station_name,end_station_name
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE start_station_name = "San Mateo County Center"
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query3_job = client.query(query3, job_config = safe_config)

query3_result = query3_job.to_dataframe()
query3_result.head(20)

         start_station_name               end_station_name
0   San Mateo County Center                     Mezes Park
1   San Mateo County Center               Broadway at Main
2   San Mateo County Center              Franklin at Maple
3   San Mateo County Center        San Mateo County Center
4   San Mateo County Center       Stanford in Redwood City
5   San Mateo County Center    Redwood City Medical Center
6   San Mateo County Center    Redwood City Public Library
7   San Mateo County Center  Redwood City Caltrain Station
8   San Mateo County Center                Kaiser Hospital
9   San Mateo County Center                          Mezes
10  San Mateo County Center           Cowper at University
11  San Mateo County Center         University and Emerson
12  San Mateo County Center                  Park at Olive

## [**4. AND, OR, NOT, IS NULL, IS NOT NULL**](#Index)  <a class="anchor"  id="4"></a>

WHERE accepts AND, OR, NOT. They can be used to add conditions. One condition per column. 

To add more conditions to the same column or to specify a range for a column we need WHERE ... IN.

In the followiing example we will select all the columns and filter the results to a specfic "star_station_name" and a specific "end_station_name". We want to see all the fields of table "bikeshare_trips" but only for trips starting at San Mateo County Center and ending at Mezes Park.

In [9]:
query41 = """
         SELECT *
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE 
             start_station_name = "San Mateo County Center"
             AND
             end_station_name = "Mezes Park"
               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query41_job = client.query(query41, job_config = safe_config)

query41_result = query41_job.to_dataframe()
query41_result.head(20)

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,...,c_subscription_type,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,member_birth_year,member_gender,bike_share_for_all_trip,start_station_geom,end_station_geom
0,283976,171,2014-05-14 13:57:00+00:00,San Mateo County Center,23,2014-05-14 14:00:00+00:00,Mezes Park,83,232,94301,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,627882,250,2015-02-02 12:56:00+00:00,San Mateo County Center,23,2015-02-02 13:00:00+00:00,Mezes Park,83,60,94539,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,415155,199,2014-08-19 15:08:00+00:00,San Mateo County Center,23,2014-08-19 15:12:00+00:00,Mezes Park,83,692,94070,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,616013,1732,2015-01-23 12:27:00+00:00,San Mateo County Center,23,2015-01-23 12:56:00+00:00,Mezes Park,83,663,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,842937,6951,2015-07-12 11:48:00+00:00,San Mateo County Center,23,2015-07-12 13:44:00+00:00,Mezes Park,83,219,94063,...,Customer,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,842936,6943,2015-07-12 11:48:00+00:00,San Mateo County Center,23,2015-07-12 13:44:00+00:00,Mezes Park,83,294,94063,...,Customer,NaN,NaN,NaN,NaN,NaN,None,None,None,None
6,496141,371,2014-10-13 16:18:00+00:00,San Mateo County Center,23,2014-10-13 16:24:00+00:00,Mezes Park,83,211,94002,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
7,238164,8937,2014-04-06 14:09:00+00:00,San Mateo County Center,23,2014-04-06 16:38:00+00:00,Mezes Park,83,674,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
8,608816,4037,2015-01-18 13:05:00+00:00,San Mateo County Center,23,2015-01-18 14:13:00+00:00,Mezes Park,83,78,94063,...,Customer,NaN,NaN,NaN,NaN,NaN,None,None,None,None
9,641486,340,2015-02-12 13:03:00+00:00,San Mateo County Center,23,2015-02-12 13:08:00+00:00,Mezes Park,83,683,94539,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [10]:
query42 = """
         SELECT *
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE 
             start_station_name = "San Mateo County Center"
             AND
             end_station_name = "Mezes Park"
             AND
             c_subscription_type = "Subscriber"
               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query42_job = client.query(query42, job_config = safe_config)

query42_result = query42_job.to_dataframe()
query42_result.head(20)

,trip_id,duration_sec,start_date,start_station_name,start_station_id,end_date,end_station_name,end_station_id,bike_number,zip_code,...,c_subscription_type,start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude,member_birth_year,member_gender,bike_share_for_all_trip,start_station_geom,end_station_geom
0,415155,199,2014-08-19 15:08:00+00:00,San Mateo County Center,23,2014-08-19 15:12:00+00:00,Mezes Park,83,692,94070,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
1,616013,1732,2015-01-23 12:27:00+00:00,San Mateo County Center,23,2015-01-23 12:56:00+00:00,Mezes Park,83,663,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
2,641486,340,2015-02-12 13:03:00+00:00,San Mateo County Center,23,2015-02-12 13:08:00+00:00,Mezes Park,83,683,94539,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
3,496141,371,2014-10-13 16:18:00+00:00,San Mateo County Center,23,2014-10-13 16:24:00+00:00,Mezes Park,83,211,94002,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
4,238164,8937,2014-04-06 14:09:00+00:00,San Mateo County Center,23,2014-04-06 16:38:00+00:00,Mezes Park,83,674,94063,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
5,283976,171,2014-05-14 13:57:00+00:00,San Mateo County Center,23,2014-05-14 14:00:00+00:00,Mezes Park,83,232,94301,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None
6,627882,250,2015-02-02 12:56:00+00:00,San Mateo County Center,23,2015-02-02 13:00:00+00:00,Mezes Park,83,60,94539,...,Subscriber,NaN,NaN,NaN,NaN,NaN,None,None,None,None

In [11]:
query43 = """
         SELECT start_station_name, end_station_name, duration_sec
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE 
             start_station_name = "San Mateo County Center"
             AND
             end_station_name = "Mezes Park"
             AND
             NOT duration_sec < 600
               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query43_job = client.query(query43, job_config = safe_config)

query43_result = query43_job.to_dataframe()
query43_result.head(20)

        start_station_name end_station_name  duration_sec
0  San Mateo County Center       Mezes Park          6943
1  San Mateo County Center       Mezes Park          1732
2  San Mateo County Center       Mezes Park          4037
3  San Mateo County Center       Mezes Park          6951
4  San Mateo County Center       Mezes Park          8937

In [12]:
query44 = """
         SELECT start_station_name, end_station_name, duration_sec
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE 
             start_station_name = "San Mateo County Center"
             AND
             (end_station_name = "Mezes Park" OR end_station_name = "Kaiser Hospital")
             AND
             NOT duration_sec < 600
               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query44_job = client.query(query44, job_config = safe_config)

query44_result = query44_job.to_dataframe()
query44_result.head(20)

        start_station_name end_station_name  duration_sec
0  San Mateo County Center       Mezes Park          6943
1  San Mateo County Center       Mezes Park          1732
2  San Mateo County Center       Mezes Park          4037
3  San Mateo County Center  Kaiser Hospital          1062
4  San Mateo County Center       Mezes Park          6951
5  San Mateo County Center  Kaiser Hospital          4678
6  San Mateo County Center  Kaiser Hospital          1578
7  San Mateo County Center       Mezes Park          8937

In [13]:
#Parentesis make all the difference
#x AND (y OR z) vs. x AND y OR z

query45 = """
         SELECT start_station_name, end_station_name, duration_sec
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE 
             start_station_name = "San Mateo County Center"
             AND
             end_station_name = "Mezes Park" OR end_station_name = "Kaiser Hospital"
             AND
             NOT duration_sec < 600
               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query45_job = client.query(query45, job_config = safe_config)

query45_result = query45_job.to_dataframe()
query45_result.head(20)

               start_station_name end_station_name  duration_sec
0         San Mateo County Center       Mezes Park          6943
1   Redwood City Caltrain Station  Kaiser Hospital           642
2   Redwood City Caltrain Station  Kaiser Hospital           711
3   Redwood City Caltrain Station  Kaiser Hospital           790
4                 Kaiser Hospital  Kaiser Hospital          3019
5   Redwood City Caltrain Station  Kaiser Hospital          2027
6   Redwood City Caltrain Station  Kaiser Hospital           657
7   Redwood City Caltrain Station  Kaiser Hospital           682
8                 Kaiser Hospital  Kaiser Hospital          3121
9         San Mateo County Center       Mezes Park          4037
10        San Mateo County Center       Mezes Park           340
11        San Mateo County Center  Kaiser Hospital          1062
12    Redwood City Public Library  Kaiser Hospital           847
13        San Mateo County Center       Mezes Park           199
14        San Mateo County Center       Mezes Park          1732
15  Redwood City Caltrain Station  Kaiser Hospital           625
16        San Mateo County Center       Mezes Park          6951
17       Stanford in Redwood City  Kaiser Hospital           822
18  Redwood City Caltrain Station  Kaiser Hospital           655
19                Kaiser Hospital  Kaiser Hospital          4413

In [14]:
query46 = """
         SELECT DISTINCT member_birth_year
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
         WHERE member_birth_year IS NOT NULL
         ORDER BY member_birth_year

               
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query46_job = client.query(query46, job_config = safe_config)

query46_result = query46_job.to_dataframe()
query46_result.head(5)

   member_birth_year
0               1886
1               1900
2               1901
3               1902
4               1904

## [**5. MAX, MIN, AVG**](#Index)  <a class="anchor"  id="5"></a>

In [15]:
query51 = """
         SELECT
            MAX(duration_sec), 
            MIN(duration_sec), 
            AVG(duration_sec)
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`   
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query51_job = client.query(query51, job_config = safe_config)

query51_result = query51_job.to_dataframe()
query51_result.head(20)

        f0_  f1_          f2_
0  17270400   60  1007.972076

An example of how aggregate functions require sub-queries to compare the value of each row against the aggregate value.

Here we select the id and duration of trips but we restrict the selection to the trips where duration is below the average duration.

In [16]:
query52 = """
         SELECT
            trip_id,
            duration_sec
         FROM 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         WHERE    
            duration_sec < 
            (
             SELECT AVG(duration_sec) 
             FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
             )
         LIMIT 5
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query52_job = client.query(query52, job_config = safe_config)

query52_result = query52_job.to_dataframe()
query52_result.head(5)

   trip_id  duration_sec
0  1011650            60
1   934706           243
2  1114664           318
3   949971           201
4  1051301           428

## [**6. AS**](#Index)  <a class="anchor"  id="6"></a>


Aliases help us get more clean and readable results..

In [17]:
query6 = """
         SELECT
            MAX(duration_sec) AS maximum_duration,
            MIN(duration_sec) AS minimu_duration, 
            AVG(duration_sec) AS average_duration
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`   
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query6_job = client.query(query6, job_config = safe_config)

query6_result = query6_job.to_dataframe()
query6_result.head(20)

   maximum_duration  minimu_duration  average_duration
0          17270400               60       1007.972076

## [**7. Top (ORDER BY...DESC + LIMIT)**](#Index)  <a class="anchor"  id="7"></a>

In [18]:
query7 = """
        SELECT start_station_name, end_station_name, duration_sec
        FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
        ORDER BY duration_sec DESC
        LIMIT 5  
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query7_job = client.query(query7, job_config = safe_config)

query7_result = query7_job.to_dataframe()
query7_result.head(20)

,start_station_name,end_station_name,duration_sec
0,South Van Ness at Market,2nd at Folsom,17270400
1,Market at Sansome,Yerba Buena Center of the Arts (3rd @ Howard),2137000
2,San Antonio Shopping Center,Castro Street and El Camino Real,1852590
3,University and Emerson,University and Emerson,1133540
4,University and Emerson,University and Emerson,722236

## [**8. Bottom (ORDER BY...ASC + LIMIT)**](#Index)  <a class="anchor"  id="8"></a>

In [19]:
query8 = """
        SELECT start_station_name, end_station_name, duration_sec
        FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
        ORDER BY duration_sec ASC
        LIMIT 5  
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query8_job = client.query(query8, job_config = safe_config)

query8_result = query8_job.to_dataframe()
query8_result.head(20)

,start_station_name,end_station_name,duration_sec
0,Mechanics Plaza (Market at Battery),Mechanics Plaza (Market at Battery),60
1,Steuart at Market,Steuart at Market,60
2,Embarcadero at Sansome,Embarcadero at Sansome,60
3,Harry Bridges Plaza (Ferry Building),Harry Bridges Plaza (Ferry Building),60
4,Mechanics Plaza (Market at Battery),Mechanics Plaza (Market at Battery),60

## [**9. ORDER BY (ASC, DESC)**](#Index)  <a class="anchor"  id="9"></a>

* By default, sorts ascending.

In [20]:
query91 = """
        SELECT name, lat, lon
        FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info`
        ORDER BY 3 DESC
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query91_job = client.query(query91, job_config = safe_config)

query91_result = query91_job.to_dataframe()
query91_result.head(5)

                                           name        lat         lon
0                         22nd St at William St  37.340379 -121.864021
1                         19th St at William St  37.338468 -121.866521
2                    Newbury Park Dr at King Rd  37.365536 -121.867966
3  South San Jose State (7th St at Humboldt St)  37.320316 -121.870099
4                     21st St at Santa Clara St  37.345759 -121.870678

In [21]:
query92 = """
        SELECT 
            name, 
            lat, 
            lon
        FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info`
        ORDER BY 
            lat ASC,
            lon DESC
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query92_job = client.query(query92, job_config = safe_config)

query92_result = query92_job.to_dataframe()
query92_result.head(5)

                       name        lat         lon
0  Willow St at Blewett Ave  37.309014 -121.900011
1     Bird Ave at Willow St  37.311284 -121.896325
2       Bird Ave at Coe Ave  37.315158 -121.897833
3   Parkmoor Ave at Race St  37.316736 -121.910005
4      Palm St at Willow St  37.317298 -121.884995

## [**10. CONCAT**](#Index)  <a class="anchor"  id="10"></a>


Concatenate two or more fields/columns.

CONCAT(column1,column2) = column1column2

CONCAT(column1," ",column2) = column1 column2

CONCAT(column1,";",column2) = column1;column2

CONCAT(COLUMN1," - ",column1) = column1 - column2

In the example, we concatenate two fieds - lat and lon - to get a field that we call coordinates separated by a comma and a space.

In [22]:
query10 = """
        SELECT
            DISTINCT
                CONCAT(lat,", ",lon) AS coordinates
        FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info`
        ORDER BY coordinates
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query10_job = client.query(query10, job_config = safe_config)

query10_result = query10_job.to_dataframe()
query10_result.head(5)

                  coordinates
0   37.30901407, -121.9000107
1  37.31128395, -121.89632535
2  37.31515793, -121.89783275
3  37.31673648, -121.91000462
4     37.3172979, -121.884995

## [**11. JOIN**](#Index)  <a class="anchor"  id="11"></a>


This statement allows us to reach data from multiple tables.

When we only have one table, we use FROM to identify it.

If we have two tables, we need to add JOIN to reach the second table.

We use ON to identify the field that links these tables. A column i in the first table must equal a column j in the second table.

To build a query from two tables we use:

(1) **FROM** to identify the first table;

(2) **AS** to create an alias to be more easy to read and call the table; 

(3) Use **JOIN** identify the second table;

(4) **AS** to create an alias for the second table as well;

(5) **ON** to identify the field common to both tables
    
    table1.columnx = table2.columnx

(6) **SELECT** to identify the columns we want to see in the output. We not only identify the column but also the table. First comes the table and then the column separated by a dot.

SELECT table1.columni, table2.columnj



query_join = SELECT

 (6)                L.columni, R.columnj
             
             FROM
                
 (1)(2)               left_table AS L
             
             INNER JOIN
                
 (3)(4)              right_table AS R
             
             ON 
                
 (5)             L.columnX=R.columnX

The following query allows us to obtain the stations for each region.

In table "bikeshare_regions" we find a field called "region_id".

We find the same field in table "bikeshare_station_info".

We use this field/column to link both tables.

In [23]:
query11 = """
        SELECT 
          regions.name AS region, 
          stations.name AS station
        FROM 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` AS stations
        INNER JOIN 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions` AS regions
        ON 
            regions.region_id = stations.region_id
        WHERE 
            regions.name = "San Jose"
        ORDER BY 
            stations.name
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query11_job = client.query(query11, job_config = safe_config)

query11_result = query11_job.to_dataframe()
query11_result.head(10)

     region                    station
0  San Jose       10th St at Empire St
1  San Jose      10th St at Mission St
2  San Jose  17th St at Santa Clara St
3  San Jose      19th St at William St
4  San Jose    1st St at San Carlos St
5  San Jose      1st St at Younger Ave
6  San Jose  21st St at Santa Clara St
7  San Jose      22nd St at William St
8  San Jose       23rd St at Taylor St
9  San Jose        2nd St at Julian St

## [**12. COUNT**](#Index)  <a class="anchor"  id="12"></a>


When we use COUNT we need to GROUP BY.

In the example, we count the number of stations in each region.

In [24]:
query12 = """
        SELECT 
          regions.name AS region, 
          COUNT(stations.name) AS number_of_stations
        FROM 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` AS stations
        INNER JOIN 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions` AS regions
        ON 
            regions.region_id = stations.region_id
       GROUP BY 
            region
       ORDER BY
            number_of_stations DESC
         """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query12_job = client.query(query12, job_config = safe_config)

query12_result = query12_job.to_dataframe()
query12_result.head(10)

          region  number_of_stations
0  San Francisco                 253
1       San Jose                  82
2        Oakland                  80
3       Berkeley                  37
4     Emeryville                  11

## [**13. WHERE...LIKE**](#Index)  <a class="anchor"  id="13"></a>

This clause allows to search for a pattern. 

% - any

In [25]:
query131 = """
          SELECT DISTINCT zip_code
          FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
          WHERE zip_code LIKE "947%" 
          ORDER BY zip_code
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query131_job = client.query(query131, job_config = safe_config)

query131_result = query131_job.to_dataframe()
query131_result.head(10)

  zip_code
0     9470
1    94700
2    94702
3    94703
4    94704
5    94705
6    94706
7    94707
8    94708
9    94709

The next query retrieves all the stations with "University" in their name.

By adding % in the beginning and at the end we make sure that all strings that contain "University" will be selected. It doesn't matter the position of the word/substring "University" within the string.

In [26]:
query132 = """
            SELECT name, short_name
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` 
            WHERE name LIKE "%University%"

          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query132_job = client.query(query132, job_config = safe_config)

query132_result = query132_job.to_dataframe()
query132_result.head(10)

                              name short_name
0        West St at University Ave      BK-D4
1  California St at University Ave      BK-D5
2        10th St at University Ave      BK-D2
3      University Ave at Oxford St      BK-C8
4     MLK Jr Way at University Ave      BK-C6

## [**14. LENGTH**](#Index)  <a class="anchor"  id="14"></a>


Allows us to filter by the number of characters.
It applies to string and bytes types.

In [27]:
query14 = """
          SELECT DISTINCT zip_code
          FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
          WHERE zip_code LIKE "947%" 
                  AND
                LENGTH(zip_code) = 5
          ORDER BY zip_code
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query14_job = client.query(query14, job_config = safe_config)

query14_result = query14_job.to_dataframe()
query14_result.head(10)

  zip_code
0    94700
1    94702
2    94703
3    94704
4    94705
5    94706
6    94707
7    94708
8    94709
9    94710

## [**15. CAST**](#Index)  <a class="anchor"  id="15"></a>


Converts data type.

https://cloud.google.com/bigquery/docs/reference/standard-sql/conversion_functions

In [28]:
query15 = """
         SELECT DISTINCT CAST(member_birth_year AS string) AS year
         FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
         ORDER BY year ASC
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query15_job = client.query(query15, job_config = safe_config)

query15_result = query15_job.to_dataframe()
query15_result.head(10)

   year
0  None
1  1886
2  1900
3  1901
4  1902
5  1904
6  1906
7  1907
8  1909
9  1911

## [**16. Temporary table**](#Index)  <a class="anchor"  id="16"></a>

Here we build a first query to build a temporary table and then we query taht table to get the desired output.

WITH temporary AS
(
query
)
SELECT fields from temporary
FROM temporary
...

In [29]:
# this query does not work. One option to solve it is to create a temporary table
query161 = """
         
            SELECT DISTINCT CAST(member_birth_year AS string) AS year
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            WHERE LENGTH(member_birth_year) = 4
            ORDER BY member_birth_year
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query161_job = client.query(query161, job_config = safe_config)

query161_result = query161_job.to_dataframe()
query161_result.head(10)

BadRequest: 400 No matching signature for function LENGTH for argument types: INT64. Supported signatures: LENGTH(STRING); LENGTH(BYTES) at [5:19]

Location: US
Job ID: 8dcd5fa8-6f76-4fad-8161-97c6bb2649d8

In [ ]:
query161 = """
            WITH y AS
            (
            SELECT DISTINCT CAST(member_birth_year AS string) AS year
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            )
            SELECT year
            FROM y
            WHERE LENGTH(year) = 4
            ORDER BY year
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query161_job = client.query(query161, job_config = safe_config)

query161_result = query161_job.to_dataframe()
query161_result.head(10)

In [ ]:
query1611 = """
            SELECT member_gender, COUNT(*) AS gender
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            GROUP BY member_gender
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query1611_job = client.query(query1611, job_config = safe_config)

query1611_result = query1611_job.to_dataframe()
query1611_result.head(10)

In [ ]:
query1612 = """
            WITH g AS
            (
            SELECT member_gender, COUNT(*) AS gender
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            GROUP BY member_gender
            )
            SELECT SUM(gender) AS total
            FROM g
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query1612_job = client.query(query1612, job_config = safe_config)

query1612_result = query1612_job.to_dataframe()
query1612_result.head(10)

## [**17. IN**](#Index)  <a class="anchor"  id="17"></a>

Filters the column to a list of possible values. 

This operator substitutes multiple OR conditions.

Query17 gives us the number of trips that start either in Japantown or in Sequoia Hospital.

In [ ]:
query17 = """
            SELECT COUNT(*)  AS num_of_trips
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            WHERE start_station_name IN ('Japantown', 'Sequoia Hospital')

          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query17_job = client.query(query17, job_config = safe_config)

query17_result = query17_job.to_dataframe()
query17_result.head(10)


#Note that this query is equivalent to:
#SELECT COUNT(*)  
#FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
#WHERE start_station_name = 'Japantown' OR start_station_name = 'Sequoia Hospital'

## [**18. BETWEEN**](#Index)  <a class="anchor"  id="18"></a>


Equivalent to a closed interval (> AND <). 

WHERE column1 BETWEEN "awesome" AND "sick"

In [ ]:
query18 = """
            SELECT 
                name, short_name
            FROM 
                `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` 
            WHERE 
                short_name 
                        BETWEEN 'BK-A3' AND 'BK-A9'
            ORDER BY 
                short_name
          """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query18_job = client.query(query18, job_config = safe_config)

query18_result = query18_job.to_dataframe()
query18_result.head(10)

# â€˜BK-A9â€™  does not exist but still functions as limit of the interval

## [**19. SUBSTR**](#Index)  <a class="anchor"  id="19"></a>

Filters a string. 

1 â€“ position where the substring starts;

2 â€“ number of characters.

Example: SUBSTR(heart,3,3) = art

In the next case, our query will filter all the strings that start with â€œBKâ€.

In [ ]:
query19 =   """
            SELECT DISTINCT name, short_name
            FROM `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` 
            WHERE 
              SUBSTR(short_name,1,2) = 'BK'
            ORDER BY name
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query19_job = client.query(query19, job_config = safe_config)

query19_result = query19_job.to_dataframe()
query19_result.head(10)

## [**20. TRIM**](#Index)  <a class="anchor"  id="20"></a>

In [ ]:
query20 =   """
            SELECT DISTINCT 
                start_station_name,
                zip_code
            FROM 
                `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
            WHERE
              TRIM(zip_code) = '94070'
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query20_job = client.query(query20, job_config = safe_config)

query20_result = query20_job.to_dataframe()
query20_result.head(10)

## [**21. HAVING**](#Index)  <a class="anchor"  id="21"></a>

In [ ]:
query21 = """
            SELECT 
              start_station_name,
              COUNT(*) AS num_trips

            FROM 
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 

            GROUP BY 
              start_station_name

            HAVING 
              num_trips <=50
            
            ORDER BY
              num_trips  
          """

safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query21_job = client.query(query21, job_config = safe_config)

query21_result = query21_job.to_dataframe()
query21_result.head(10)

## [**22. Subquery**](#Index)  <a class="anchor"  id="22"></a>

### [**22.1  Subquery | WHERE**](#Index)  <a class="anchor"  id="221"></a>

In [ ]:
query221 = """
            SELECT  
              start_station_name,
              end_station_name,
              duration_sec
            FROM 
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
            WHERE
              duration_sec > 
              (
                SELECT
                  AVG(duration_sec) AS average_duration
                FROM
                  `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`  
              )
            ORDER BY
              duration_sec DESC
            LIMIT 10  
              
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query221_job = client.query(query221, job_config = safe_config)

query221_result = query221_job.to_dataframe()
query221_result.head(10)

### [**22.2  Subquery | SELECT**](#Index)  <a class="anchor"  id="222"></a>

In [ ]:
query222 = """
            SELECT  
              start_station_name,
              end_station_name,
              duration_sec,
              (
                SELECT
                  AVG(duration_sec)
                  FROM
                    `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
              )
              AS average_duration      
            FROM 
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
            ORDER BY
              duration_sec DESC
            LIMIT 10  
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query222_job = client.query(query222, job_config = safe_config)

query222_result = query222_job.to_dataframe()
query222_result.head(10)

## [**23. Implicit Join**](#Index)  <a class="anchor"  id="23"></a>


23.1 Implicit Inner Join


âˆ‘rows(output) <= âˆ‘rows(tablei),  âˆ‘rows(tablei) >= âˆ‘rows(tablej)    

âˆ‘columns(output) = âˆ‘columns(tablei) + âˆ‘columns(tablej)



23.2 Cross Inner Join


âˆ‘rows(output) = âˆ‘rows(tablei)* âˆ‘rows(tablej)

âˆ‘columns(output) = âˆ‘columns(tablei) + âˆ‘columns(tablej)

In [ ]:
query231 =   """
            SELECT*  
            FROM 
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` AS station_info,
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions` AS regions
            WHERE  
             station_info.region_id = regions.region_id

            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query231_job = client.query(query231, job_config = safe_config)

query231_result = query231_job.to_dataframe()
query231_result.head(5)

In [ ]:
query232 =   """
            SELECT*  
            FROM 
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_regions`,
            `bigquery-public-data.san_francisco_bikeshare.bikeshare_station_info` 
            LIMIT 3000
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query232_job = client.query(query232, job_config = safe_config)

query232_result = query232_job.to_dataframe()
query232_result.h## [**25. Date & Time**](#Index)  <a class="anchor"  id="25"></a>

ead(10)

## [**24. UPPER, LOWER**](#Index)  <a class="anchor"  id="24"></a>

In [ ]:
query24 =   """
             SELECT 
                 DISTINCT 
                     UPPER(start_station_name) AS start_station_Upper
                     
             FROM 
                 `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips`
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query24_job = client.query(query24, job_config = safe_config)

query24_result = query24_job.to_dataframe()
query24_result.head(10)

## [**25. Date & Time**](#Index)  <a class="anchor"  id="25"></a>

In [ ]:
query24 =   """
            SELECT  
                start_date,
                EXTRACT(DATE FROM start_date) AS date,
                EXTRACT(YEAR FROM start_date) AS year,
                EXTRACT(QUARTER FROM start_date) AS quarter,
                EXTRACT(MONTH FROM start_date) AS month,
                EXTRACT(DAY FROM start_date) AS day,
                EXTRACT(DAYOFWEEK FROM start_date) AS day_of_week
            
            FROM 
                `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 
        
            ORDER BY 
                start_date 
        
            LIMIT 5

            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query24_job = client.query(query24, job_config = safe_config)

query24_result = query24_job.to_dataframe()
query24_result.head(10)

## [**26. CURRENT_DATE**](#Index)  <a class="anchor"  id="26"></a>

In [ ]:
query26 =   """
          SELECT  
 
              EXTRACT (DATE FROM end_date) AS yyyymmdd,
              CURRENT_DATE,
              DATE_DIFF(CURRENT_DATE, EXTRACT (DATE FROM end_date),YEAR) AS years_of_diff

          FROM 
              `bigquery-public-data.san_francisco_bikeshare.bikeshare_trips` 

          LIMIT 10
            """
safe_config = bigquery.QueryJobConfig(maximum_bytes_billed = 10**10)
query26_job = client.query(query26, job_config = safe_config)

query26_result = query26_job.to_dataframe()
query26_result.head(10)

## [**More SQL on**](#Index)  <a class="anchor"  id="m"></a>


#### [How to query in a Kaggle notebook](https://www.kaggle.com/code/tejota/sql-how-to-query-in-a-kaggle-notebook)

#### [How to join data from different files](https://www.kaggle.com/code/tejota/sql-how-to-join-data-from-different-datasets)

#### [Date & Time](https://www.kaggle.com/code/tejota/sql-date-and-time)

#### [Gender statistics | Angola, Cabo Verde, Guinea Bissau, Mozambique and Sao Tome and Principe](https://www.kaggle.com/code/tejota/sql-gender-stats-angola-cabo-verde)

#### Back to 
#### [**Table of contents**](#Index)